{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="account-section mt-5">

<!-- Breadcrumb -->
<div class="breadcrumb-section mb-3">
<a href="/">Home</a> / <span>Log in</span>
</div>

<h2 class="mb-4">Account</h2>

<!-- GREEN HEADER -->
<div class="row text-center customer-strip">
<div class="col-md-6">
<h5>Returning customer</h5>
</div>
<div class="col-md-6">
<h5>New customer</h5>
</div>
</div>

<div class="row account-content align-items-center">

<!-- LOGIN -->
<div class="col-md-5 login-box">

<form method="POST">
{% csrf_token %}

<label>Email<span class="text-danger">*</span></label>
<input type="text" name="username" class="form-control">

<label class="mt-3">Password<span class="text-danger">*</span></label>

<div class="position-relative">
<input type="password" name="password" id="loginPassword" class="form-control">

<span class="toggle-password"
onclick="togglePassword('loginPassword', this)">
<i class="bi bi-eye"></i>
</span>
</div>

<button type="submit" name="login_btn" class="btn login-btn">
Log in
</button>

<p class="mt-3 small">
<a href="{% url 'accounts:forgot_password' %}">
Forget your password?
</a>
</p>

</form>

</div>


<!-- DIVIDER -->
<div class="col-md-2 text-center divider-area">

<div class="divider-line"></div>

<span class="divider-text">Or</span>

<div class="divider-line"></div>

</div>


<!-- REGISTER -->
<div class="col-md-5 register-box">

<p>
Register with us for a faster checkout,<br>
to track the status of your order and more.
</p>

<button class="btn register-btn"
data-bs-toggle="modal"
data-bs-target="#registerModal">

Create an account

</button>

</div>

</div>
</div>


<!-- ================= REGISTER MODAL ================= -->

<div class="modal fade" id="registerModal">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content register-modal">

<div class="register-top">

<button type="button"
class="close-icon"
data-bs-dismiss="modal">

<i class="bi bi-x-lg"></i>

</button>

</div>

<div class="modal-body register-body">

<h4 class="text-center mb-4">
Sign up for a free account at Petpalooza.
</h4>

<form method="POST">
{% csrf_token %}

<label>First Name</label>
<input type="text" name="first_name" class="form-control">

<label class="mt-3">Last Name</label>
<input type="text" name="last_name" class="form-control">

<label class="mt-3">Email</label>
<input type="email" name="email" class="form-control">

<label class="mt-3">Password</label>

<div class="position-relative">
<input type="password"
name="password"
id="registerPassword"
class="form-control">

<span class="toggle-password"
onclick="togglePassword('registerPassword', this)">
<i class="bi bi-eye"></i>
</span>
</div>

<button type="submit"
name="register_btn"
class="btn register-submit">

Create an account

</button>

</form>

</div>

</div>
</div>
</div>

{% endblock %}
